:root {
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  background: #f4f4f4;
  color: #161616;
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}
